 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.625rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -33px 285px 0 777px;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -25px 379px 0 653px;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -25px 53px 0 987px;
}

.u-section-1 .u-text-5 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -25px 169px 0 872px;
}

.u-section-1 .u-btn-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 488px;
  height: 488px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px 21px 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: Poppins;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.4;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -360px 646px 0 6px;
}

.u-section-1 .u-text-7 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px auto 0 6px;
}

.u-section-1 .u-text-8 {
  font-family: Poppins;
  font-size: 1.1875rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: 0 658px 0 6px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 16px auto 0 0;
  padding: 11px 82px 12px 81px;
}

.u-section-1 .u-icon-1 {
  width: 15px;
  height: 21px;
  vertical-align: 0px;
  margin-right: 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 0.5s;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 0 275px;
  padding: 9px 30px 9px 29px;
}

.u-section-1 .u-image-2 {
  width: 41px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 28px;
  height: 24px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: -31px auto 0 148px;
}

.u-section-1 .u-text-9 {
  font-family: Poppins;
  font-size: 0.9375rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -24px 992px 60px 41px;
}

.u-section-1 .u-image-4 {
  height: 356px;
  width: 356px;
  margin: -584px -8px 60px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 240px auto 60px 18px;
  padding: 11px 82px 12px 81px;
}

.u-section-1 .u-icon-3 {
  width: 15px;
  height: 21px;
  vertical-align: 0px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 459px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -73px;
    margin-right: 185px;
    margin-left: 677px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6px;
    margin-right: 279px;
    margin-left: 553px;
  }

  .u-section-1 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 32px;
    margin-right: 0;
    margin-left: 841px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -326px;
    margin-right: 0;
    margin-left: 842px;
  }

  .u-section-1 .u-btn-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    width: 696px;
    margin-top: 20px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 360px;
  }

  .u-section-1 .u-text-8 {
    width: 520px;
    margin-top: 20px;
    margin-right: 447px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -123px;
    margin-left: -27px;
  }

  .u-section-1 .u-btn-6 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: -255px;
    margin-left: 75px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 116px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 833px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
    margin-left: 567px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 169px;
    margin-left: 443px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 621px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -176px;
    margin-left: 621px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -281px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -116px;
    margin-right: 232px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 359px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -14px;
    margin-right: 227px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -155px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 532px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 462px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 79px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 441px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -76px;
    margin-left: 441px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -406px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
    margin-top: -36px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 83px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -80px;
    margin-right: 47px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -89px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 418px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 433px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -19936px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 241px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: 241px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: -1.53258e+06px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 2rem;
    width: auto;
    margin-top: 1.53259e+06px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 99277px;
    padding-top: 12px;
    padding-right: 26px;
    padding-left: 25px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -99307px;
    margin-left: 178px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -59352px;
    margin-left: 50px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: 233px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -577px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 174px;
    margin-left: -18px;
    padding-right: 38px;
    padding-left: 37px;
  }
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #0f9015 !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #6d6a7c !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #6d6a7c !important;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -28px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 -25px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 458px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 57px;
  height: 57px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px 56px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 335px;
  height: 289px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px auto 0 70px;
}

.u-section-2 .u-shape-2 {
  width: 57px;
  height: 57px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -41px auto 0 56px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 458px;
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 113px 11px 8px;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-size: 1.5625rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 800;
    margin-top: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 259px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -27px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -21px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-2 .u-shape-1 {
    width: 72px;
    height: 72px;
    margin-top: 63px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -52px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: -17px;
    margin-right: -17px;
  }
}

.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-1:before,
.u-section-2 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: 69px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: -96px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-size: 1.5625rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 130px;
  margin-bottom: 0;
  margin-left: 49px;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 570px 0 49px;
}

.u-section-3 .u-group-1 {
  width: 472px;
  min-height: 366px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -318px 20px 60px auto;
}

.u-section-3 .u-gallery-1 {
  height: 289px;
  width: 395px;
  margin: 36px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-shape-1 {
  width: 57px;
  height: 57px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -305px 20px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 57px;
  height: 57px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 212px 395px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 419px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-4 {
    margin-right: 199px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-4 {
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 276px;
    width: 369px;
    margin-top: 16px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-3 .u-shape-1 {
    width: 63px;
    height: 63px;
    margin-top: -293px;
    margin-right: -33px;
  }

  .u-section-3 .u-shape-2 {
    width: 63px;
    height: 63px;
    margin-top: 190px;
    margin-right: auto;
    margin-left: -38px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 759px;
}

.u-section-4 .u-group-1 {
  width: 868px;
  min-height: 667px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px auto 60px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 312px;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -29px auto 0 397px;
}

.u-section-4 .u-form-1 {
  height: 499px;
  width: 828px;
  margin: 36px 20px 0;
}

.u-section-4 .u-label-1 {
  font-family: Poppins;
  font-size: 1rem;
}

.u-section-4 .u-input-1 {
  font-family: Poppins;
  letter-spacing: 0px;
}

.u-section-4 .u-label-2 {
  font-family: Poppins;
  font-size: 1rem;
}

.u-section-4 .u-input-2 {
  font-family: Poppins;
  letter-spacing: 0px;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-label-3 {
  font-family: Poppins;
  font-size: 1rem;
}

.u-section-4 .u-input-3 {
  font-family: Poppins;
  letter-spacing: 0px;
}

.u-section-4 .u-label-4 {
  font-family: Poppins;
  font-size: 1rem;
}

.u-section-4 .u-input-4 {
  font-family: Poppins;
  letter-spacing: 0px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-family: Poppins;
  font-size: 1.25rem;
  width: 100%;
  padding: 14px 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 259px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 329px;
  }

  .u-section-4 .u-form-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 247px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 704px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -25px;
    margin-left: auto;
  }

  .u-section-4 .u-form-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-form-group-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-form-group-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 200px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-size: 2.0625rem;
  font-weight: 600;
  margin: 29px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 69px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    width: 259px;
    margin-top: 67px;
    margin-bottom: 32px;
  }
}