 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 295px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 95px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.4375rem;
  font-weight: 600;
  background-image: none;
  margin: -286px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: -13px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.375rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.375rem;
  margin: 0 668px 0 0;
}

.u-section-1 .u-btn-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 16px auto 0 0;
  padding: 9px 59px 11px 58px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -47px auto 60px 253px;
  padding: 7px 19px 8px 18px;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-right: 468px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 248px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-right: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

.u-block-993d-12:not([data-block-selected]):not([data-cell-selected]),
.u-block-993d-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-993d-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-993d-12:not([data-block-selected]):not([data-cell-selected]).u-block-993d-12:not([data-block-selected]):not([data-cell-selected]).u-block-993d-12:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-993d-12:not([data-block-selected]):not([data-cell-selected]).u-block-993d-12:not([data-block-selected]):not([data-cell-selected]).u-block-993d-12:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-993d-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-993d-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-993d-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-993d-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-993d-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-993d-13:not([data-block-selected]):not([data-cell-selected]).u-block-993d-13:not([data-block-selected]):not([data-cell-selected]).u-block-993d-13:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-993d-13:not([data-block-selected]):not([data-cell-selected]).u-block-993d-13:not([data-block-selected]):not([data-cell-selected]).u-block-993d-13:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-993d-13:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-993d-13:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-993d-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-993d-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-993d-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-993d-14:not([data-block-selected]):not([data-cell-selected]).u-block-993d-14:not([data-block-selected]):not([data-cell-selected]).u-block-993d-14:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-993d-14:not([data-block-selected]):not([data-cell-selected]).u-block-993d-14:not([data-block-selected]):not([data-cell-selected]).u-block-993d-14:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-993d-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-993d-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-993d-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-993d-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-993d-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-993d-15:not([data-block-selected]):not([data-cell-selected]).u-block-993d-15:not([data-block-selected]):not([data-cell-selected]).u-block-993d-15:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-993d-15:not([data-block-selected]):not([data-cell-selected]).u-block-993d-15:not([data-block-selected]):not([data-cell-selected]).u-block-993d-15:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #1a9520 !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-993d-15:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-993d-15:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: -30px auto 0;
}

.u-section-2 .u-image-1 {
  width: 558px;
  height: 336px;
  margin: 39px auto 0 49px;
}

.u-section-2 .u-group-1 {
  width: 558px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.2);
  min-height: 336px;
  height: auto;
  margin: -287px auto 60px 534px;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 50px 49px;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: 26px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 356px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: 136px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 325px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -276px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 205px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -156px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: -28px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 388px;
  width: 488px;
  margin: 35px auto 0 575px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-3 .u-group-1 {
  width: 558px;
  box-shadow: -2px 2px 40px 0px rgba(0,0,0,0.2);
  min-height: 431px;
  height: auto;
  margin: -359px auto 60px 77px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 0 45px;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0 auto 0 50px;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-top: 23px;
    margin-left: 452px;
  }

  .u-section-3 .u-carousel-control-1 {
    padding: 4px;
  }

  .u-section-3 .u-carousel-control-2 {
    padding: 4px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -348px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    margin-left: 232px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    margin-left: 52px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: 129px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -455px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1587px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: 25px auto 0 443px;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: -29px auto 0 494px;
}

.u-section-4 .u-group-1 {
  width: 567px;
  box-shadow: -2px 2px 40px 0px rgba(0,0,0,0.2);
  min-height: 991px;
  height: auto;
  margin: 25px auto 0 19px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 50px auto 0 50px;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 9px 50px 0;
}

.u-section-4 .u-text-5 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 25px 50px 0;
}

.u-section-4 .u-text-6 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 33px 50px 0;
}

.u-section-4 .u-text-7 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4;
  margin: 17px 75px 0 50px;
}

.u-section-4 .u-group-2 {
  box-shadow: -2px 2px 40px 0px rgba(0,0,0,0.2);
  min-height: 1162px;
  height: auto;
  width: 567px;
  margin: -887px auto 0 555px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 50px auto 0 50px;
}

.u-section-4 .u-text-9 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 9px 50px 0;
}

.u-section-4 .u-text-10 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 25px 50px 0;
}

.u-section-4 .u-group-3 {
  width: 558px;
  box-shadow: -2px 2px 40px 0px rgba(0,0,0,0.2);
  min-height: 291px;
  height: auto;
  margin: -256px auto 60px -21px;
}

.u-section-4 .u-container-layout-3 {
  padding: 50px 0 45px;
}

.u-section-4 .u-text-11 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0 auto 0 50px;
}

.u-section-4 .u-text-12 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  margin: 9px 50px 0;
}

.u-section-4 .u-text-13 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 9px 363px 0 50px;
}

.u-section-4 .u-icon-1 {
  margin-right: 2px;
}

.u-section-4 .u-text-14 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: -32px 279px 0 134px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 365px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 407px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 10px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    margin-left: 364px;
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 280px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 312px;
  }

  .u-section-4 .u-group-2 {
    margin-left: 144px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 234px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 48px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 132px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 147px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 145px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 170px;
    margin-left: 25px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 635px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: -28px auto 0;
}

.u-section-5 .u-form-1 {
  height: 416px;
  width: 796px;
  margin: 0 auto 60px;
}

.u-section-5 .u-label-1 {
  font-family: Poppins;
}

.u-section-5 .u-input-1 {
  font-family: Poppins;
}

.u-section-5 .u-label-2 {
  font-family: Poppins;
}

.u-section-5 .u-input-2 {
  font-family: Poppins;
}

.u-section-5 .u-label-3 {
  font-family: Poppins;
}

.u-section-5 .u-input-3 {
  font-family: Poppins;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Poppins;
  width: 100%;
  font-size: 1.125rem;
  padding: 15px 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 208px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  font-size: 2.6875rem;
  font-weight: 800;
  margin: 29px auto 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-size: 1.0625rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 50px auto 12px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}