 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-icon-1 {
  width: 94px;
  height: 94px;
  margin: 101px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25rem;
  width: 411px;
  margin: 8px auto 0;
}

.u-section-1 .u-form-1 {
  height: 144px;
  width: 400px;
  margin: 29px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: Poppins;
  font-weight: 500;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  padding: 10px 30px;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 402px 60px 399px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-3 {
    width: 339px;
    margin-left: 299px;
    margin-right: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 237px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 189px;
    margin-right: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 99px;
    margin-right: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 1px;
  }
}